.statistics-section{

    background:#143d8d;

    padding:90px 0;

}

.stat-card{

    color:white;

}

.stat-card h2{

    font-size:60px;

    font-weight:700;

    color:#ffb400;

    margin-bottom:10px;

}

.stat-card p{

    font-size:18px;

    color:white;

    margin:0;

}