.section-title{

    text-align:center;

    margin-bottom:70px;

}

.subtitle{

    color:#F7941D;

    font-size:14px;

    font-weight:700;

    letter-spacing:4px;

    text-transform:uppercase;

}

h2{

    margin:18px 0;

    font-size:48px;

    font-weight:800;

    color:#111;

}

p{

    max-width:650px;

    margin:auto;

    color:#666;

    line-height:1.8;

}