<section class="hero">

    <div class="overlay"></div>

    <div class="container hero-content">

        <div class="hero-text">

            <span class="subtitle">
                TRIVAAN CONSTRUCTIONS
            </span>

            <h1>
                Building <br>
                Tomorrow's <br>
                Infrastructure
            </h1>

            <p>
                We specialize in Road Construction, RCC Structures,
                Earthwork, Infrastructure Development and Industrial Projects
                across Maharashtra.
            </p>

            <div class="hero-buttons">

                <a routerLink="/projects" class="primary-btn">
                    Our Projects
                </a>

                <a routerLink="/contact" class="secondary-btn">
                    Contact Us
                </a>

            </div>

        </div>

    </div>

</section>