.hero {

    position: relative;

    min-height: 100vh;

    background-image: url('/images/hero/hero-bg.jpg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

}

.overlay {
    position: absolute;
    inset: 0;
   // background: rgba(0,0,0,.55);
     background:linear-gradient(
        rgba(0,0,0,.72),
        rgba(0,0,0,.55)
    );
}

.hero-content {
    position: relative;
    z-index: 2;
    min-height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 90px;
}

.hero-text {
    max-width: 700px;
    color: white;
}

.subtitle {
    display: inline-block;
    color: #F7941D;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero h1 {
    font-size: 76px;
    line-height: 1.1;
    color: white;
    margin-bottom: 25px;
}

.hero p {
    font-size: 20px;
    line-height: 1.8;
    max-width: 650px;
    margin-bottom: 40px;
    color: rgba(255,255,255,.9);
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.primary-btn {
    background: #F7941D;
    color: white;
    padding: 16px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
}

.primary-btn:hover {
    background: #0B3D91;
    color: white;
}

.secondary-btn {
    border: 2px solid white;
    color: white;
    padding: 16px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s;
}

.secondary-btn:hover {
    background: white;
    color: black;
}

@media(max-width:768px){

    .hero h1{
        font-size:48px;
    }

    .hero-buttons{
        flex-direction:column;
    }

}