<section class="services-section" appRevealOnScroll>

  <div class="container">

   <app-section-title
            subtitle="OUR SERVICES"
            title="Engineering Excellence in Every Project"
            description="Comprehensive construction and infrastructure solutions.">
        </app-section-title>

    <div class="row g-4">

      @for(service of services(); track service.id){

      <div class="col-lg-4">

        <div class="service-card">

          <img
            [src]="service.image"
            [alt]="service.title">

          <div class="service-body">

            <h3>{{service.title}}</h3>

            <p>{{service.description}}</p>

            <a href="#">Learn More →</a>

          </div>

        </div>

      </div>

      }

    </div>

  </div>

</section>