.page-banner {
    min-height: 450px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    position: relative;
}

.overlay {
    width: 100%;
    min-height: 450px;

    background: rgba(0, 0, 0, 0.55);

    display: flex;
    align-items: center;
}

.page-banner h1 {
    margin: 0 0 10px;

    color: #ffffff;

    font-size: clamp(42px, 6vw, 64px);

    font-weight: 700;
}

.page-banner p {
    margin: 0;

    color: #ffffff;

    font-size: 22px;
}