.custom-navbar {

    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    padding:25px 0;

    transition:all .35s ease;

    background:#fff;

}

.custom-navbar.home{

    background:transparent;

}

.custom-navbar.home.scrolled{

    background:#fff;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    padding:15px 0;

}

.logo-text{

      color:#0B3D91;

    font-size:38px;

    font-weight:700;

}

.logo-sub{

    color:#F7941D;

    font-size:20px;

    margin-left:4px;

}

.custom-navbar.home .logo-text{

    color:#fff;

}

.custom-navbar.home .logo-sub{

    color:#F7941D;

}

.custom-navbar.home.scrolled .logo-text{

    color:#0B3D91;

}

.nav-link{

    color:#222;

    font-weight:600;

    position:relative;

    transition:.3s;

}

.custom-navbar.home .nav-link{

    color:#fff;

}

.custom-navbar.home.scrolled .nav-link{

    color:#222;

}

.nav-link.active{

    color:#0B3D91 !important;

}

.nav-link::after{

    content:'';

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:#F7941D;

    transition:.3s;

}

.nav-link:hover::after{

    width:100%;

}

.nav-link:hover{

    color:#0B3D91;

}

.active{

    color:#0B3D91 !important;

}

.quote-btn{

    padding:12px 28px;

    border-radius:40px;

    font-weight:600;

}

@media(max-width:991px){

.custom-navbar{

height:auto;

}

.nav-link{

margin:10px 0;

}

}