<section class="services-grid py-5">

    <div class="container">

        <app-section-title
            subtitle="What We Do"
            title="Construction Services">
        </app-section-title>

        <div class="row g-4">

            @for(service of services(); track service.id){

            <div class="col-lg-4 col-md-6">

                <div class="service-card">

                    <img
                        [src]="media.getUrl(service.imageUrl)"
                        [alt]="service.name">

                    <div class="card-body">

                        <i [class]="service.icon"></i>

                        <h4>{{ service.name }}</h4>

                        <p>{{ service.shortDescription }}</p>

                        <a
                            [routerLink]="['/services', service.slug]"
                            class="btn btn-primary">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            }

        </div>

    </div>

</section>