.service-benefits{

    background:#f8f9fa;

    .benefit-card{

        background:#fff;

        border-radius:15px;

        padding:35px;

        text-align:center;

        transition:.3s;

        height:100%;

        box-shadow:0 10px 25px rgba(0,0,0,.05);

        .icon{

            width:70px;
            height:70px;

            margin:auto;

            border-radius:50%;

            background:#0b3d91;

            display:flex;
            align-items:center;
            justify-content:center;

            margin-bottom:20px;

            i{

                color:#ffc107;
                font-size:28px;

            }

        }

        h5{

            font-weight:600;

        }

        &:hover{

            transform:translateY(-8px);

        }

    }

}